body{
    background-color: #CCBE72;
}

#search{
    justify-content:left;
    border-radius:25px;
    border: 10px solid #A299C8;
    background-color: #120A33 ;
    padding-left: 25px;
    width: 551px;
    height: 359px;
}

div{
    color: ghostwhite
}
#clientSearch{
    margin-top: 1%;
margin-left: 2%;
width: 450px;
height: 45px;
border-radius: 9px;
}

#displayCity{
font-weight: bold;
font-size: 80px;
}
#displayCountry{
    font-weight: bold;
    font-size: 80px;
}
#rightBox{
margin-left: 60px;
    border-radius:25px;
    border: 10px solid #A299C8;
    background-color: #120A33 ;
    padding: 20px;
    width: 800px;
    height: 359px;
}
#BottomFive{
    margin-left: 100px;
    border-radius:25px;
    align-items: center;
    border: 10px solid#A299C8;
    background-color: #120A33 ;
    padding: 20px;
    width: 1510px;
    height: 540px;
}
#displayTemp{
    font-weight: bold;
    font-size: 100px;
    
}
#hnl0, #hnl1, #hnl2, #hnl3, #hnl4{
    font-size: 50px;
    padding-top: 200px;
}
#starSpace{

padding-left: 400px;
}
#circle { 
    width: 287px; 
    height: 287px; 
    background-color: #395487; 
    border: 10px solid #395487;
    border-radius: 50%;
    /* display: flex; 
    flex-direction: row; */
} 

